html[data-bb-ui-prompt-position="center"]
  [data-bb-ui-tweaks-prompt-container="true"],
html[data-bb-ui-prompt-position="bottom"]
  [data-bb-ui-tweaks-prompt-container="true"] {
  min-height: 100%;
}

html[data-bb-ui-prompt-position="center"]
  [data-bb-ui-tweaks-prompt-container="true"] {
  justify-content: center;
  padding-top: 1rem;
}

html[data-bb-ui-prompt-position="bottom"]
  [data-bb-ui-tweaks-prompt-container="true"] {
  justify-content: flex-end;
  padding-top: 0;
}

[data-bb-ui-tweaks-footer-action-hidden="true"] {
  display: none !important;
}

[data-bb-ui-tweaks-workspace-app-menu-hidden="true"] {
  display: none !important;
}
